<section id="experiencia">

  <!--experiencia-->

  <div class="experiencia-educacion container-fluid p-5 text-white">
    <div class="row justify-content-center">
      <h2 class="mb-4 text-center">Experiencia Laboral</h2>
      <div class="col-lg-10 col-auto">

        <div class="card-experiencia border border-light card m-3 mx-5" *ngFor="let expe of listaExperiencia">
          <div class="d-flex flex-row-reverse">
            <button type="button" class="boton-eliminar-experiencia btn btn-danger" *ngIf="isLogged" (click)="borrarExperiencia(expe.id)">X</button>
            <button type="button" class="boton-editar-experiencia btn btn-primary" *ngIf="isLogged" routerLink="/editar_experiencia/{{expe.id}}"><i class="fa-solid fa-pen fa-sm" style="color: #ffffff;"></i></button>
          </div>
          <div class="card-body card-color-fondo" >
            <ul>
              <li>
                <h3>{{expe.empresa}}</h3>
                <h5>{{expe.puesto}}</h5>
                <h6><time>{{expe.fecha_desde}}</time>-<time>{{expe.fecha_hasta}}</time></h6>
              </li>
              <p>
                {{expe.descripcion}}
              </p>
            </ul>
          </div>
        </div>

        <button type="button" class="d-block mx-auto btn btn-secondary" routerLink="/nueva_experiencia" *ngIf="isLogged">Añadir</button>

      </div>
    </div>
  </div>

</section>




<section id="estudios">

    <!--estudios-->

      <div class="experiencia-educacion container-fluid p-5 text-white text-center">
        <h2 class="mb-4">Estudios</h2>

        <div class="d-inline-block">
        <!--Tarjeta educacion secundaria-->
            <div *ngFor="let Educacion of educacion" class="card mx-2 card-color-fondo d-inline-block" style="width: 18rem;">
            <button type="button" class="boton-eliminar-educacion btn btn-danger" *ngIf="isLogged" (click)="borrarEducacion(Educacion.id)">X</button>
            <button type="button" class="boton-editar-educacion btn btn-primary" *ngIf="isLogged" routerLink="/editar_educacion/{{Educacion.id}}"><i class="fa-solid fa-pen fa-sm" style="color: #ffffff;"></i></button>
            <img [src]="Educacion.imagen" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{Educacion.establecimiento}}</h5>
              <p class="card-text">{{Educacion.titulo}}</p>
              <p class="card-text"><time>{{Educacion.fecha_desde}}</time> / <time>{{Educacion.fecha_hasta}}</time></p>
            </div>
          </div>
        </div>

        <button type="button" class="d-block mx-auto btn btn-secondary" *ngIf="isLogged" routerLink="/nueva_educacion">Añadir</button>

      </div>

</section>
